{
  "presets": [ "es2015", "react", "stage-0"],

  /* if you want to use babel runtime, uncomment the following line */
  "plugins": ["transform-class-properties"],

  "env": {
    "build": {
      "optional": ["optimisation", "minification"]
    }
  }
}
