{
  "env": {
    "node": true
  },
  ecmaFeatures: {
    jsx: true
  },
  "globals": {
    "__ENV__": true,
    "__ONE_MONEY_ID__": true,
    "__WINNERS_NUM__": true,
    "__API__" : true,
    "__SIGNUP_URL__": true,
    "__DEFAULT_AVATAR__": true,
  },
  "plugins": [
    "react"
  ],
  "extends": "eslint-config-airbnb",
  "rules": {
    "comma-dangle": 0,
    "no-console": 0,
    "id-length": 0,
    "react/prop-types": 0,
    "camelcase": 0,
    "eqeqeq": 0,
  }
}
