.party-container 
  .bless-item
    display table
    width 100%
    padding 10px
    background #fff
    border-bottom 1px solid $borderColor
    
    .benefactor-avatar
      display table-cell
      width 50px
      padding-right 10px
      vertical-align middle
      
      img
        width 40px
        height 40px
        box-shadow 0 0 1px $borderColor
        
    .bless-factors
      display table-cell
      max-width 0
      vertical-align middle
      
    .bless-gift
      display table-cell
      width 50px
      padding-left 10px
      vertical-align middle
      
      .gift-image
        width 40px