.cut-screen
  position absolute
  left  0
  right 0
  top 0
  bottom 0
  z-index 25
  visibility hidden
  overflow hidden
  
  .light-overlayer
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    background rgba(255, 255, 255, 0.8)
    
  .dark-overlayer
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    background rgba(0, 0, 0, 0.8)
    z-index 1
    
  .screen-container
    position relative
    z-index 2
    height 100%
    
  .screen-content
    position absolute
    top 0
    bottom 0
    width 100%
    overflow hidden
    
    .main-zone
      padding 15px

      .contributor
        line-height 30px
        font-size 20px
        font-weight 700
        color $red
        text-align center
        
      .animate-zone
        height 200px
        width 200px
        margin 0 auto
        position relative
        
    .gift-zone
      position absolute
      top 260px
      bottom 60px
      left 0
      right 0
      overflow hidden
      
      .party-gnh
        background none
        
    .skip-btn
      position absolute
      top 15px
      right 15px
      height 30px
      line-height 30px
      padding 0 8px
      border-radius 8px
      background rgba(0, 0, 0, 0.5)
      color #fff
      display none