.share-page
.comment-page
  .comment-top
    position relative
    .background
      width 100%
      display block
    .avatar
      border-radius 50%
      display block
      width 32%
      top 13%
      padding 3px
      // box-shadow 0 0 30px 15px #FFF
      background-color rgba(255, 255, 255, 0.5)
      left 50%
      margin-left -16%
      position absolute
      overflow hidden
  .comment-text
    position relative
    text-align center
    margin-top -30%
    .textarea-wrap
      background-color #E80016
      padding 1rem
      position relative
      &:after
        content ''
        display block
        position absolute
        border 10px solid transparent
        border-bottom-color #FFF
        top -7px
        left 50%
        margin-left -10px
    .awardee-name
      font-size 2rem
      color #FFF
      margin 0.5rem
    .award-comment
      display inline-block
      text-align justify
      word-break break-all
      background-color #FFF
      font-size 2.4rem
      outline none
      border-radius 1rem
      resize none
      border none
      padding 1rem
      color #EC0C33
      max-width 80%

  .comment-scores
    padding 1rem
  .comment-btn
    background-color #27ae60
    color #FFF
    padding 0.8rem 1.2rem
    border-radius 0.5rem
    float right
    display block
    &:hover
      background-color #2ecc71
