.confirm-modal
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  z-index 21
  
  .confirm-overlayer
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    background rgba(0, 0, 0, 0.85)
    
  .confirm-content
    width 100%
    height 100%
    overflow auto
    
    .container
      background none
      
  .confirm-panel
    width 50%
    left 25%
    position relative
    z-index 10
    background #fff
    border-radius 5px
    border 5px solid #F5B418
    
    .confirm-header
      padding 10px 15px
      border-bottom 1px solid $borderColor
      font-size 16px
      
    .confirm-body
      padding 10px 15px
      
    .confirm-footer
      border-top 1px solid $borderColor
      padding 10px 15px
      
      .btn-cancel, .btn-confirm
        display inline-block
        width 50%
        padding 6px 0
        text-align center
        color #fff
        font-weight 700
        
      .btn-cancel
        border-top-right-radius 0
        border-bottom-right-radius 0
        background $orange
        
      .btn-confirm
        border-top-left-radius 0
        border-bottom-left-radius 0
        background $red
        
@media (max-width 480px)
  .confirm-modal .confirm-panel
    width 60%
    left 20%
    
