@import 'color.styl'

.detail-page
  padding-bottom 50px
  .detail-top
    position relative

  .detail-imgs
    width 100%
    display block
    
  .info-top
    position relative
    .table
      height 50px
      background $red
      color #FFF
    .logo
      color #FF0
      font-size 2rem
      font-weight 900
    .right
      color #FF0
      font-weight 900
      width 50%
      padding-left 2rem
      text-align left
      line-height 1rem
      
  .info-main
    color #666
    width 100%
    padding 10px 0
    border-bottom 1px solid #DDD
    .title
      text-align left
      padding 10px
    .min
      border-left 1px solid #DDD
      width 25%
      
  .winner-wrap
    padding 5px
    border-bottom 1px solid #DDD
    &:after
      content ''
      display block
      clear both
    .winner
      float left
      padding 3px
  .avatar
    border 1px solid #EEE
    width 40px
    height 40px
    vertical-align middle

  