.detail-container
  .detail-actions .buy-now
    height 50px
    line-height 50px
    background $red
    color #fff
    letter-spacing 5px
    text-align center
    font-size 2rem
    font-weight 700
    
  .detail-header
    .item-detail-info
      background $red
      
      .media-left
        width 60%
        padding 10px
        color #fff
        font-family $enFontFamily
        
        .sales-price
          font-size 3rem
          color $orange
          float left
          font-weight 700
          margin-right 8px
        
        .saled-count, .cashback
          display inline-block
          padding 3px
          line-height 1
          border-radius 3px 
          background #C7002A
      
      .media-body
        text-align right
        padding 10px 10px 10px 0

        .favor-count
          display inline-block
          background-color #f7d92c
          color #F12729
          padding 8px 10px
          border-radius 5px
          font-size 1.2rem
        
  .detail-body
    .winner-summary
      margin-bottom 4px

    .winner-container
      padding 8px
      border-bottom 1px solid #ccc

      .winner-list:after
        content ''
        display table
        clear both

      .winner
        float left
        padding 3px
        
        img
          border-radius 5px
          
    .supplier-container
      display table
      padding 10px
      border-bottom 1px solid #ccc
      
      .shop-logo
        display table-cell
        width 75px
        vertical-align middle

        img
          width 75px
          height 75px
          overflow hidden
          border 1px solid #ccc

      .shop-sev
        display table-cell
        padding-left 10px
        vertical-align top
        
        p
          margin 0 0 5px 0

      .favorite-amount
        .fav-count
          display inline-block
          width 40px

      .fav-btn
        padding 3px 6px
        background #ED2A39
        color #fff

        .fa
          margin-right 3px
          
    .item-description
      padding 10px

  
    

    