.detail-container
  .content-wrap
    position relative
    height 100%
    overflow hidden
    
    .detail-content
      position relative
      padding-bottom 60px
      overflow auto
      height 100%
    
  .detail-actions
    position absolute
    bottom 0
    width 100%
    
    .buy-now
      height 50px
      line-height 50px
      background $red
      color #fff
      letter-spacing 5px
      text-align center
      font-size 2rem
      font-weight 700
        
  .detail-body
    .winner-container
      padding 8px
      border-bottom 1px solid #ccc

      .winner-list:after
        content ''
        display table
        clear both

      .winner
        float left
        padding 3px
        
        img
          border-radius 5px
          
    .supplier-container
      display table
      padding 10px
      border-bottom 1px solid #ccc
      
      .shop-logo
        display table-cell
        width 75px
        vertical-align middle

        img
          width 75px
          height 75px
          overflow hidden
          border 1px solid #ccc

      .shop-sev
        display table-cell
        padding-left 10px
        vertical-align top
        
        p
          margin 0 0 5px 0

      .favorite-amount
        .fav-count
          display inline-block
          width 40px

      .fav-btn
        padding 3px 6px
        background #ED2A39
        color #fff

        .fa
          margin-right 3px
          
    .item-description
      padding 10px

  
    

    