.dismiss-tip-modal
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  background rgba(255, 255, 255, 0.4)
  z-index 99

.dismiss-tip-content
  max-width 640px
  margin 0 auto
  position relative
  height 100%
  width 100%
  
  .dismiss-tip-body
    padding 10px
    border-radius 15px
    background rgba(0, 0, 0, 0.85)
    width 30%
    max-width 128px
    text-align center
    margin 0 auto
    color #fff
    
    .tip-icon img
      width 26px
      
    .tip-msg
      margin-top 5px