.dr-container
  position absolute
  width 100%
  bottom 10px
  z-index 12
  line-height 100px
  padding-right 110px
  text-align center
  
  .dr-text
    color #FFF
    font-size 2rem
    font-weight 900
  .dr-img
    height 100px
    display block
    position absolute
    bottom 0
    right 10px
    border 1px solid #DDD