.home-page
  .poster
    width 100%
    display block
    
  .introduction
    padding 20px
    background-image url('http://wanliu-piano.b0.upaiyun.com/uploads/shop/poster/100159/7bb469bf4aebb62e66db6bd7ccbb2af8.jpg')
    main
      color #FFF
      background-image url('http://wanliu-piano.b0.upaiyun.com/uploads/shop/poster/100159/63b192bd0c0f282cb8215cf92554dfe2.png')
      background-size 100%
      padding 0 20px
    > img
      display block
      width 100%
    .indent
      text-indent 2rem
      margin-bottom 0.6rem