.home 
  .poster
    width 100%
    display block
    
  .introduction
    padding 20px
    background-image url('/images/background.jpg')
    main
      color #FFF
      background-image url('/images/introduction-mid.png')
      background-size 100%
      padding 0 20px
    > img
      display block
      width 100%