.home-page
  background-color #E00024
  .poster
    width 100%
    display block
    
  .introduction
    padding 20px
    background-image url('http://wanliu-piano.b0.upaiyun.com/uploads/shop/poster/100159/7bb469bf4aebb62e66db6bd7ccbb2af8.jpg')
    .introduction-text
      overflow hidden
      color #FFF
      background-image url('http://wanliu-piano.b0.upaiyun.com/uploads/shop/poster/100159/63b192bd0c0f282cb8215cf92554dfe2.png')
      background-size 100%
      padding 0 20px
    > img
      display block
      width 100%
    .indent
      text-indent 2rem
      margin-bottom 0.6rem
    .start-end-time
      text-align center

    .signup-container
      .img-locator
        position relative

        .share-person
          position absolute
          top 40%
          left 28%
          width 8%

          img
            width 100%
            height auto
            border-radius 50%
            min-width 24px
            overflow hidden

    .introduction-bottom
      width 100%

#down-arrow
  position absolute
  right 10px
  bottom 50px
  width 60px
  animation arrow .8s infinite
  z-index 13
    
@keyframes arrow
  0%
    transform translateY(0)
  30%
    transform translateY(30px)
  100%
    transform translateY(0)
