@import 'color.styl'

.list-page
  background-color #E00024
    
  .list-poster
    width 100%
    display block
    
  ul.list
    padding 10px
    .price-title
      display block
      margin 10px auto
      height 40px
    .item
      position relative 
      margin-bottom 10px
      background-color #FFF
      > a
        color #666
        display block
      .left
        padding 10px
        width 40%
        position relative
        .price-logo
          display block
          position absolute
          width 40%
          height 17%
        .avatar
          width 100%
          display block
          min-height 100px
          border 1px solid #EEE
      .right
        top 0px
        left 40%
        padding 10px
        height 100%
        position absolute
        .title
          margin 0
          font-size 1.4rem
          display -webkit-box
          overflow hidden
          text-overflow ellipsis
          -webkit-line-clamp 2
          -webkit-box-orient vertical
        .price
          color #F00
          font-size 2rem
          font-weight 900
          margin-right 1rem

    


    