@import 'color.styl'

*
  box-sizing border-box
  -webkit-overflow-scrolling touch
  user-select none

html
  width 100%
  height 100%
  position relative
  overflow hidden
  font-size 62.5%

body
  font-size 1.4rem
  margin 0
  height 100%

ul
  list-style none
  margin 0
  padding 0  
  
ul.nav
  z-index 1
  position fixed
  top 0
  &:after
    content ''
    display block
    clear both
  li
    float left
    a
      display block
      padding 10px 20px
      background-color rgba(0,0,0,.3)
      color #FFF
      &.active
        background-color rgba(0,0,0,.6)

.table
  display table
  width 100%
  .cell
    display table-cell
    vertical-align middle
    text-align center

.top-nav
  position absolute
  width 100%
  line-height 50px
  padding 0 10px
  background-color rgba(255, 255, 255, 0.7)
  border-bottom 1px solid #EEE
  z-index 8
  .back
    color #666
    font-size 1.6rem
    text-decoration none
    display block
    vertical-align middle
    position relative
    padding-left 13px
    &:after
      content ''
      width 10px
      height 10px
      display block
      position absolute
      border-bottom 2px solid #555
      border-left 2px solid #555
      left 0
      top 18px
      transform rotate(45deg)
.page
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  overflow-y scroll
  z-index 11
  background-color #FFF

.status-bar
  color #FFF
  padding 6px 10px
  border-radius 5px
  transition all 1s
  display table-cell
  background-color $orange
  white-space nowrap

  &.btn
    padding 0
    height 50px
    font-size 2rem
    border-radius 0
    line-height 50px
    text-align center
    z-index 3
    
  &.end
  &.suspend
  &.insufficient
  &.lack-multi-item
  &.no-executies
  &.total_amount_zero
    background-color $gray
  &.wait
  &.waiting
    background-color $orange
  &.started
    background-color $red
  &.pending
    background-color $green
    
@keyframes shake
  0%
    transform rotate(5deg)
  100%
    transform rotate(-5deg)
    
.shake
  animation shake 50ms 5

@import 'transition.styl'
@import 'home.styl'
@import 'list.styl'
@import 'detail.styl'
@import 'alert.styl'
@import 'comment.styl'
@import 'share.styl'
@import 'drcode.styl'
@import 'spread.styl'