.review-container
  .container-nano .container-content
    padding-bottom 80px
      
  .page-footer.review-footer
    background #fff
    height auto
    padding 8px
    border 1px solid $borderColor
    
    .goto-party
      border 1px solid $darkBorderColor
      background #F3F3F3
      height 50px
      line-height 50px
      text-align center
      font-size 2rem
      color #333
      
  .item-detail-info
    background $red
    
    .media-left
      width 60%
      padding 10px
      color #fff
      font-family $enFontFamily
      
      .sales-price
        font-size 2.4rem
        color $orange
        font-weight 700
        margin-right 8px
        vertical-align middle
      
      .cashback
        display inline-block
        padding 0 5px
        line-height 2.4rem
        border-radius 5px 
        background #C7002A
        
    .media-body
      text-align right
      padding 10px 10px 10px 0

      .favor-count
        display inline-block
        background-color #f7d92c
        color #F12729
        padding 8px 10px
        border-radius 5px
        font-size 1.2rem
        
        img
          width 24px
      
  .review-body
    .review-summary
      padding 10px 10px 0 10px
      
    .review-list
      .review-list-header
        display table
        width 100%
        padding 10px
        border-bottom 1px solid $borderColor
        
      .review-list-content
        .review-item
          display table
          width 100%
          padding 10px
          border-bottom 1px solid $borderColor
          
          &:last-child
            border-bottom none
          
          .benefactor-avatar
            width 35px
            border-radius 4px
            margin-right 5px
            
            img
              width 100%
              overflow hidden
              
          .gift-icon
            margin-right 5px

      .header-col, .content-col
        display table-cell
        width 33.33%
        text-align center
        vertical-align middle
      