.review-container
  .review-nano
    position relative
    height 100%
    overflow hidden
    
    .review-content
      position relative
      height 100%
      padding-bottom 80px
      overflow auto
      
  .review-footer
    position absolute
    background #fff
    bottom 0
    left 0
    width 100%
    padding 10px
    border-top 1px solid $borderColor
    
    .goto-party
      border 1px solid $darkBorderColor
      background #F3F3F3
      height 50px
      line-height 50px
      text-align center
      font-size 2rem
      color #333
      
  .review-body
    .review-summary
      padding 10px
      
    .review-list
      .review-list-header
        display table
        width 100%
        padding 10px
        border-bottom 1px solid $borderColor
        
      .review-list-content
        .review-item
          display table
          width 100%
          padding 10px
          border-bottom 1px solid $borderColor
          
          &:last-child
            border-bottom none
          
          .benefactor-avatar
            width 35px
            border-radius 4px
            margin-right 5px
            
            img
              width 100%
              overflow hidden
              
          .gift-icon
            margin-right 5px

      .header-col, .content-col
        display table-cell
        width 33.33%
        text-align center
        vertical-align middle
      