@import 'color.styl'

.spread-page
  background #F21E1D
  position absolute
  height 100%
  overflow auto

  .spread-status
    padding 10px 15px 0 15px
    border-top 2px solid #e5e5e5

    .invited-summary
      position relative
      padding-bottom 10px
      font-size 20px

      .invited-count
        position absolute
        right 0
        bottom 10px
        font-size 16px

        .count
          margin 0 3px
          color $red

    .list-group:before, .list-group:after
      content: "";
      clear: both;
      font-size: 0;
      height: 0;

    .list-group:after
      display table

    .given-user
      float left
      margin 0 10px 10px 0

      .user-avatar
        width 50px
        height 50px
        overflow hidden
        border 2px solid #333
        
      .user-name
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        text-align center
        line-height 30px

      &.used
        position relative
        
        .user-avatar
          border-color $red
        
        .check-icon
          padding: 1px 5px 2px;
          position: absolute;
          right: 2px;
          bottom: 4px;
          background: #e74c3c;
          border-top-left-radius: 5px;

  .spread-header
    position relative
    min-height 200px

    .share-pic
      width 100%

    .spread-person
      position absolute
      right 0
      bottom -40px
      z-index 2

      img
        width 90px

    .rule-pic
      position absolute
      bottom 30px
      left 30px

  .spread-content
    margin 0 30px
    background #fff
    box-shadow 0 0 10px #999
    position relative
    top -20px
    border-radius 5px

    .spread-summary
      background #F3F3F3
      padding: 15px 15px 5px 15px
      border-top-left-radius: 5px
      border-top-right-radius: 5px

      p {
        margin: 0 0 8px 0
      }

    .qrcode-container
      width 150px
      margin 15px auto

  .spread-state
    margin-bottom 20px

    .spread-btn
      padding 10px 0
      text-align center
      width 60%
      background $yellow
      font-size 18px
      margin 0 auto
      border-radius 5px

      .purchase-count
        font-size 32px
        font-weight 700
        color $red
        vertical-align -5px
        margin 0 3px



