.page-enter
  transform translateY(-100%)

.page-enter.page-enter-active
  transform translateY(0%)
  transition all 500ms

.page-leave
  transform translateY(0%)

.page-leave.page-leave-active
  transform translateY(100%)
  transition all 500ms
  

.fade-enter
  opacity 0.01

.fade-enter.fade-enter-active
  opacity 1
  transition all 500ms

.fade-leave
  opacity 1

.fade-leave.fade-leave-active
  opacity 0.01
  transition all 500ms
  