.left-enter
  transform translateX(100%)
  
.left-enter.left-enter-active
  transform translateX(0%)
  transition all 500ms
  
.left-leave
  transform translateX(0%)
  
.left-leave.left-leave-active
  transform translateX(-100%)
  transition all 500ms
  

.right-enter
  transform translateX(-100%)
  
.right-enter.right-enter-active
  transform translateX(0%)
  transition all 500ms
  
.right-leave
  transform translateX(0%)
  
.right-leave.right-leave-active
  transform translateX(100%)
  transition all 500ms
  

.fade-enter
  opacity 0.01
  
.fade-enter.fade-enter-active
  opacity 1
  transition all 500ms
  
.fade-leave
  opacity 1
  
.fade-leave.fade-leave-active
  opacity 0.01
  transition all 500ms
  

.item-enter
  opacity 0
  transform translateX(100%)
  
.item-enter.item-enter-active
  opacity 1
  transform translateX(0)
  transition all 500ms
  
.item-leave
  opacity 1
  transform translateX(0)
  
.item-leave.item-leave-active
  opacity 0
  transform translateX(-100%)
  transition all 500ms